.git
.github
.env
.venv
.cache
.pytest_cache
**/__pycache__
**/*.py[cod]

build
install
log

data/*
models/*
output/*
examples/dsg/*.json

**/*.bag
**/*.db3
**/*.mcap
**/*.pt
**/*.pth
**/*.onnx
**/*.engine
**/*.ply
