.git
.github
.env
.venv
.cache
.pytest_cache
**/__pycache__
**/*.py[cod]

build
install
log

data/*
!data/README.md
!data/raw/
!data/raw/.gitkeep
!data/normalized/
!data/normalized/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/normalized/*
!data/normalized/.gitkeep
models/*
output/*
examples/dsg/*.json

**/*.bag
**/*.db3
**/*.mcap
**/*.pt
**/*.pth
**/*.onnx
**/*.engine
**/*.ply

!data/custom-configs/
data/custom-configs/*
!data/custom-configs/.gitkeep
