.env
.venv/
.cache/
build/
install/
log/
__pycache__/
.pytest_cache/
*.py[cod]

data/*
!data/README.md
!data/raw/
!data/raw/.gitkeep
!data/normalized/
!data/normalized/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/normalized/*
!data/normalized/.gitkeep
models/*
!models/README.md
output/*
!output/.gitkeep

*.bag
*.db3
*.mcap
*.pt
*.pth
*.onnx
*.engine
*.ply

TODO.md

!data/custom-configs/
data/custom-configs/*
!data/custom-configs/.gitkeep
